.form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 10px;
  inline-size: 100%;
  gap: 15px;
}

.formControl {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  inline-size: 100%;
  gap: 5px;

  label {
    font-size: 18px;
    color: var(--text-color);
  }

  select, textarea {
    font-size: 16px;
    padding: 5px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--main-bg-color);
  }

  select:focus-visible, textarea:focus-visible {
    outline: 2px solid var(--green-color);
  }
}

.clearFormControl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  inline-size: 100%;
  gap: 10px;
}

.checkbox {
  inline-size: 18px;
  block-size: 18px;
  accent-color: var(--green-color);
}

.checkbox:disabled + span {
  opacity: .5;
}